<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../stylesheets/rodape.css">
    <link rel="stylesheet" type="text/css" href="./../stylesheets/cabecalho.css">
    <link rel="stylesheet" type="text/css" href="./../stylesheets/barrapesquisa.css">
    <link rel="icon" type="image/x-icon" href="images/logo-removebg-preview.png">
    <link rel="stylesheet" type="text/css" href="../stylesheets/scrollbar.css">
    
    <!-- switch para determinar o css e script utilizado -->
    <% switch (pageId) { case 'principal':  %>
    <link rel="stylesheet" href="./../stylesheets/Tela-principal.css">
    <title>BookGear</title>
    <% break;  case 'wishlist':  %>
    <link rel="stylesheet" href="./../stylesheets/wishlist.css">
    <title>Wishlist - BookGear</title>
    <% break;  case 'user':  %>
    <link rel="stylesheet" href="./../stylesheets/tela_usuario.css">
    <title>user - BookGear</title>
    <% break;  case 'autor':  %>
    <link rel="stylesheet" href="./../stylesheets/autores.css">
    <title>Autores - BookGear</title>
    <% break;  case 'produto':  %>
    <link rel="stylesheet" href="./../stylesheets/pagina-produto.css">
    <title>produto - BookGear</title>
    <% break;  case 'login':  %>
    <link rel="stylesheet" href="./../stylesheets/login.css">
    <title>Login - BookGear</title>
    <% break;  case 'carrinho':  %>
    <link rel="stylesheet" href="./../stylesheets/carrinho.css">
    <title>Carrinho - BookGear</title>
    <% break;  case 'cadastro':  %>
    <link rel="stylesheet" href="./../stylesheets/cadastro.css">
    <title>Cadastro - BookGear</title>
    <% break; case 'caixa':  %>
    <link rel="stylesheet" href="./../stylesheets/caixa.css">
    <title>Caixa - BookGear</title>
    <% break; case 'pedido': %>
    <link rel="stylesheet" href="../stylesheets/caixa.css" />
    <title>Pedido - BookGear</title>
    <% break; } %>

    <style>
        body {
            height: 100%;
            width: 100%;
            background-color: rgb(37, 37, 37);
            background-image: url(../images/background2.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>