*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

li{
    margin: 0 74px;
    position: relative;
}

a{
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover{
    color: orange;
}

