@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #a7a4a4e0;
}
.tabs-content{
    color: #2e2b2b;
}
select option{
    background-color: rgb(39, 39, 39);
}

body {
    background-color: rgb(66, 66, 66);
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.container-fluid {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: #000;
    background-color: rgb(66, 66, 66);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.imagem-principal {
    width: 500px;
    height: 500px;
    display: flex;

}

.imagem-principal img {
    width: inherit;
}

.cart {
    background-color: rgb(29, 28, 28);
    padding: 20px;
    border-radius: 10px;
    margin: 27px 50px;
    box-shadow: 0px 0px 10px rgb(42, 41, 43);
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ProductImg {
    width: 480px;
    height: 480px;
    margin-bottom: 25px;
    transition: 0.4s;
}

.black:hover {
    border: 1px solid #000;
    ;
}

.black {
    /* background-image: url(https://m.media-amazon.com/images/I/81KqSk09YCL.jpg); */
    width: 25px;
    display: flex;
    height: 25px;
    cursor: pointer;
    border: 1px solid transparent;
}


.red {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;

}

.white {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;
}



.yellow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.black:hover {
    border: 1px solid #000;
}

.white::before {
    content: "";
    background: #000;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.red:hover {
    border: 1px solid #ff0000;
}

.red::before {
    content: "";
    background: #ff0000;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.white:hover {
    border: 1px solid #fff;
}

.white::before {
    content: "";
    background: #fff;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.yellow:hover {
    border: 1px solid #ffff00;
}

.yellow::before {
    content: "";
    background: #ffff00;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.colors {
    display: flex;
    background: rgb(55, 55, 55);
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.price {
    margin-bottom: 15px;
}


.price span:first-child {
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    display: inline;
}

.price span:last-child {
    color: rgb(255, 255, 255);
    text-decoration: line-through;
    font-size: 19px;
}

.reviews {
    display: flex;
    margin: 16px 0;
}

.reviews p {
    font-size: 15px;
    color: #adadad;
    margin: 0;
    margin-left: 8px;
    line-height: 19px;
}

.reviews i {
    color: #ff7300;
}

.product-title {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    color: #ffffff;
}

.product-inf {
    margin-top: 20px;
}

.product-inf ul {
    display: flex;
    list-style: none;
}

.product-inf ul li:first-child {
    margin-right: 15px;
}

.product-inf ul li {
    padding: 10px 30px;
    transition: 0.3s;
    cursor: pointer;
}

.product-inf ul li:hover {
    border-radius: 5px;
    background: #2e2b2b;
}

.product-inf ul li a {
    color: #c7c7c7;
    font-size: 18px;
    font-weight: 500;
}

.product-inf ul li a:hover {
    text-decoration: none;
}

.product-inf ul li.active {
    border-bottom: 3px solid #000000;
    background: #ff7300;
    transition: 0.3s;
}

#Details {
    display: none;
}

.custom-btn {
    background: #ff7300;
    color: #ffffff;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 16px;
    border-radius: 18px;
    padding: 6px;
    transition: 0.3s;
    font-weight: 500;

}

.custom-btn:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.88;
}

.tudo {
    display: flex;
}

.buttons {
    background-color: #111111;
    box-shadow: 0px 0px 5px #534e4e;
    height: 60px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .row .col-md-6 {
    /* position: relative; */
    height: 60px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao {
    display: block;
    width: 300px;
    margin-right: 150px;
   
}


.small-imgs {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 450px;

}

.small-img {
    margin: 0 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;

}

.custom-btn i {
    margin-left: 15px;
}

.size,
.quantity {
    cursor: pointer;
    background: rgba(66, 66, 66,0);
}
.size-custom-select{
    cursor: pointer;
    
    text-decoration: none;
    
    background: rgba(66, 66, 66,0);

}
/* .size-custom-active{
    color: #ff0000;
} */


.size:focus,
.quantity:focus {
    border-color: #000000 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25) !important;
}

@media only screen and (max-width: 768px) {
    .product-title {
        margin-top: 65px;
    }

    .sze {
        margin-top: 28px;
    }

    .qty {
        margin-top: 28px;
    }

    .cart {
        padding: 25px;
    }

    * {
        text-align: center;
    }

    .reviews {
        display: flex;
        margin: 16px 0;
        text-align: center !important;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 390px) {
    .cart {
        padding: 15px;
    }
}