<body>
    <main>
        <div class="container-main-autores">
            <div class="titulo">
                <p class="titulo-nome-autor">Autor</p>
                <p class="titulo-produtos-autor">Produtos mais comprados do autor</p>
            </div>
            <div class="responsive-container">
                <!-- Coluna Autores -->
                <div class="autores">


                    <!-- Autor -->

                    <div class="autor">

                        <div class="autor-img">
                            <img class="img-autores" src="/images/lovecraft-autor.jpg" />
                        </div>
                        <div class="autor-desc">
                            <p>Howard Phillips Lovecraft, foi um renomado escritor norte-americano
                                de ficção científica, horror e fantasia.
                                Lovecraft é amplamente considerado um dos grandes mestres do horror e um dos mais
                                influentes
                                escritores do gênero.</p>
                            <!-- Texto de descrição do autor, etc -->
                        </div>

                        <div class="nome-autor">
                            <p class="nome-autor">H.P Lovecraft</p>
                        </div>

                    </div>


                    <div class="autor">

                        <div class="autor-img">
                            <img class="img-autores" src="https://cdn.pixabay.com/photo/2022/12/27/13/12/moises-7680928_640.jpg" />
                        </div>
                        <div class="autor-desc">
                            <p></p>
                            <!-- Texto de descrição do autor, etc -->
                        </div>

                        <div class="nome-autor">
                            <p class="nome-autor">Moisés</p>
                        </div>

                    </div>

                    <div class="autor">

                        <div class="autor-img">
                            <img class="img-autores" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7xGoUBDVx4dAwO2VgSuXxVpzFmMd4El325g&usqp=CAU" />
                        </div>
                        <div class="autor-desc">
                            <p></p>
                            <!-- Texto de descrição do autor, etc -->
                        </div>

                        <div class="nome-autor">
                            <p class="nome-autor">Tazercraft</p>
                        </div>

                    </div>

                    <div class="autor">

                        <div class="autor-img">
                            <img class="img-autores" src="/images/autor-manuel-games.png" />
                        </div>
                        <div class="autor-desc">
                            <p>Manoel Gomes é um cantor e compositor brasileiro que ganhou destaque em 2019 com a música
                                "Caneta Azul".?</p>
                            <!-- Texto de descrição do autor, etc -->
                        </div>

                        <div class="nome-autor">
                            <p class="nome-autor">Emanuel Games</p>
                        </div>

                    </div>

                    <div class="autor">

                        <div class="autor-img">
                            <img class="img-autores" src="/images/autor-manuel-games.png" />
                        </div>
                        <div class="autor-desc">
                            <p>Manoel Gomes é um cantor e compositor brasileiro que ganhou destaque em 2019 com a música
                                "Caneta Azul".?</p>
                            <!-- Texto de descrição do autor, etc -->
                        </div>

                        <div class="nome-autor">
                            <p class="nome-autor">Emanuel Games</p>
                        </div>

                    </div>

                </div>
                <!-- Autor  -->

                <!-- Coluna de produtos -->
                <div class="main-grid">

                    <!-- linha de produtos (é onde ficam todos os quatro produtos do autor) -->
                    <div class="grid-row">
                        <!-- produto do respectivo autor -->
                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla,
                                            rem
                                            deserunt quae accusantium iure, voluptas delectus voluptatum ipsam alias
                                            harum
                                            sint quaerat autem illum perferendis iusto magnam.</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>
                        <!-- produto do respectivo autor -->
                    </div>


                    <div class="grid-row">

                        <!-- produto do respectivo autor -->
                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla,
                                            rem
                                            deserunt quae accusantium iure, voluptas delectus voluptatum ipsam alias
                                            harum
                                            sint quaerat autem illum perferendis iusto magnam.</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>
                        <!-- produto do respectivo autor -->
                    </div>


                    <!-- nova coluna de produtos -->
                    <div class="grid-row">

                        <!-- produto do respectivo autor -->
                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>
                        <!-- produto do respectivo autor -->

                    </div>

                    <div class="grid-row">

                        <!-- produto do respectivo autor -->
                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>
                        <!-- produto do respectivo autor -->

                    </div>



                    <!-- nova coluna de produtos -->
                    <div class="grid-row">

                        <!-- produto do respectivo autor -->
                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>

                        <!-- produto do respectivo autor -->

                        <a class="product" href="/produto">
                            <div class="product-image">
                                <img src="../images/box.jpg" />
                            </div>
                            <div class="bottom">
                                <div class="product-content">
                                    <div class="product-info">
                                        <h2 class="product-title">Cosmonaut</h2>
                                        <p class="product-price">$ 10</p>
                                    </div>

                                </div>
                                <button class="product-action"><i class="material-icons-outlined">like</i></button>
                            </div>
                        </a>
                        <!-- produto do respectivo autor -->

                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>