

<body>
    <div class="bimage">
        <div class="box">
            <div class="texto">
                <p class="Login">Cadastro</p>
            </div>

            <form action="/cadastro" method="post" name="cadastro" id="cadastro">
                <input type="text" name="username" class="btn-username" placeholder="Nome" id="nome" required>
                <input type="email" name="email" class="btn-username" placeholder="E-mail" id="email" required>
                <input type="password" id="senha" name="password" class="btn-username" placeholder="Senha" required>
                <input type="password" id="confirmar" name="confirm" class="btn-username" placeholder="Confirmar senha"
                    required>
                <input id="address" type="text" name="address" class="btn-username" placeholder="Endereço" required>
                <br>

                <span id="message" style="color:red"></span>
                <br>
                <div class="mini-box">
                    <input type="submit" placeholder="Cadastrar" id="botao">
                </div>
            </form>
            <div>
                <p class="forgot-password">Já tem conta? <a href="/Login">Entrar</a></p>
            </div>
        </div>
    </div>
</body>
