<body>
    <div class="container_main principal">
        <div class="container_main grid">

            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao">Caixa da bookgear 4 livros, cases para livros, marca paginas personalizado, 3
                    suportes para livros.</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <p id="total">90,50</p></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>

            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Earum enim, maxime cupiditate quisquam
                    consequatur reprehenderit repellat asperiores delectus ipsam,
                    eveniet repudiandae temporibus impedit, aut quis tenetur
                    facere nesciunt illum quibusdam?.</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <input type="text" name="total" id="total" value="90,50" /></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>


            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Officia ab a qui tempore eius nulla et,
                    in ex fugiat autem. Nulla blanditiis aliquid, quae at
                    nostrum maiores qui quia est.</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <input type="text" name="total" id="total" value="90,50" /></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>

            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao">Caixa da bookgear 4 livros, cases para livros,
                    marca paginas personalizado, 3 suportes para livros, 4 livros,
                    cases para livros, marca paginas personalizado, 3 suportes para
                    livros 4 livros, cases para livros, marca paginas personalizado,
                    3 suportes para livros</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <input type="text" name="total" id="total" value="90,50" /></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>

            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <input type="text" name="total" id="total" value="90,50" /></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>

            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao">Caixa da bookgear 0 livros,0 cases para
                    livros,0 marca paginas personalizado, 0 suportes para livros.</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <input type="text" name="total" id="total" value="90,50" /></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>

            <div class="item">
                <img class="imgbox" src="../images/box.jpg">
                <!-- nome/descrição do produto -->
                <p class="descricao"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
                    accusamus id nostrum consectetur ab quas nihil? Ducimus numquam nostrum,
                    deleniti accusamus magnam unde explicabo maxime, rerum minima praesentium adipisci
                    quos? Ex distinctio placeat nam eius earum corporis sit magnam, tempora fugit,
                    temporibus numquam aliquid. At similique sint nostrum corrupti eaque. Ipsa, est?</p>

                <div class="descricao2">
                    <!-- preço do produto -->
                    <div class="preco">R$: <input type="text" name="total" id="total" value="90,50" /></div>
                    <div class="estoque">Em estoque</div>

                    <div class="Qtd_produtos">
                        <p>Qtd:</p>
                        <div id="Qtd">
                            <input type="button" name="mais" id="mais" value="+" />
                            <input type="text" name="format" value="0" id="format" size="2" />
                            <input type="button" name="menos" id="menos" value="-" />
                        </div>

                    </div>

                    <button class="remove" type="url">Remover do carrinho</button></a>
                </div>
            </div>
        </div>

        <!-- valor da compra de todos os produtos -->
        <div class="container_main flex">
            <div class="compra">
                <div class="compra_div">
                    <div class="subtotal">Subtotal</div>
                    <div id="val_sub">R$: 2590,55</div>
                </div>
                <div class="compra_div">
                    <div class="subtotal">Frete</div>
                    <div id="val_sub">R$: 8999,99</div>
                </div>
                <div class="compra_div">
                    <div class="subtotal">Valor total</div>
                    <div id="val_sub">R$: 250,55</div>
                </div>
                <div class="compra_div compra_bot">
                    <button class="finalizar_compra" type="url">Finalizar compra</button>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    function id(el) {
        return document.getElementById(el);
    }
    window.onload = function () {
        id('mais').onclick = function () {
            id('format').value = parseInt(id('format').value) + 1;
            // Preco do produto
            id('total').value = 90 * id('format').value;
        }
        id('menos').onclick = function () {
            if (id('format').value > 0)
                id('format').value = parseInt(id('format').value) - 1;

            id('total').value = 90 * id('format').value;
        }
    }       
</script>

</html>