<body>
    
        <div class="banners_meio">
            <img class="banner1 banner" src="../images/banner1.png" alt="banner">
            <img class="banner2 banner" src="../images/banner1.png" alt="banner">
        </div>
<div class="itens-meio">
    <div class="container-principal">
        <div class="categorias">
            <h1>Categorias</h1>
            <ul class="categorias">
                <li><button type="url" href="#" class="input_categoria">Ação</button></li>
                <li><button type="url" href="#" class="input_categoria">Aventura</button></li>
                <li><button type="url" href="#" class="input_categoria">Clássicos</button></li>
                <li><button type="url" href="#" class="input_categoria">Drama</button></li>
                <li><button type="url" href="#" class="input_categoria">Fantasia</button></li>
                <li><button type="url" href="#" class="input_categoria">Ficção cientifica</button></li>
                <li><button type="url" href="#" class="input_categoria">Infantil</button></li>
                <li><button type="url" href="#" class="input_categoria">Jogos</button></li>
                <li><button type="url" href="#" class="input_categoria">Suspense</button></li>
                <li><button type="url" href="#" class="input_categoria">Terror</button></li>

            </ul>
        </div>

        <div class="grid-principal">
            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars o imperio contra ataca.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">The Witcher - Box capa dura.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="produto" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="baixo">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem
                                deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat
                                autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>
        </div>

        <div class="ver-mais">
            <button class="botao-mais">ver mais</button>
        </div>

    </div>
</div>
</body>

</html>