<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../stylesheets/cabecalho.css">
    <link rel="stylesheet" type="text/css" href="./../stylesheets/barrapesquisa.css">
    <title> Payment Page Design </title>
    <link rel="stylesheet" href="./../stylesheets/style.css">
    <style>
        header {
            background-color: rgba(42, 41, 43, 0.9);
            height: fit-content;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }


        .containermenu {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        .logo img {
            margin-left: 15px;
            height: 80px;
        }

        .user a {
            color: #ff7300;
            font-weight: bold;
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <header class="main">


        <div class="containermenu">
            <div class="logo">
                <a href="#"><img class="logotipo" src="../images/Capturar-removebg-preview.png" alt="bookgear"></a>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar">
                <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></a>
            </div>


            <div class="user">
                <a href="/Login">
                    <button type="url" class="botao">Entrar</button></a>
                <a class="login" href="#">
                    <button type="url" class="botao">Cadastrar</button></a>
            </div>
        </div>
        <div class="cabecalho">
            <nav>
                <ul>
                    <li><a class="home" href="/">HOME</a></li>
                    <li><a class="caixas" href="#">CAIXAS</a></li>
                    <li><a class="autores" href="/user">AUTORES</a></li>
                    <li><a class="editora" href="#">EDITOR</a></li>
                    <li><a class="wishlist" href="/wishlist">WISHLIST</a></li>
                    <li><a class="carrinho" href="/carrinho">CARRINHO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="app-container">
        <div class="top-box">
            <p><span class="left-icon">&#x2196;</span>PAGAMENTO</p>
        </div>

        <div class="middle-box">
            <h1>1599<span>$</span></h1>
            <p>pague para Bookgear</p>
        </div>

        <div class="bottom-box">
            <button type="button" class="payment-option-btn">pague com Paypal</button>
            <button type="button" class="payment-option-btn"> pague com pix</button>
        </div>

        <div class="card-details">
            <p>Pay using credit or debit card</p>
            <div class="card-num-field-group">
                <label>Card Number</label><br>
                <input type="text" class="card-num-field" placeholder="xxxx-xxxx-xxxx-xxxx">
            </div>

            <div class="date-field-group">
                <label>Expiry Date</label><br>
                <input type="text" class="date-field" placeholder="mm">
                <input type="text" class="date-field" placeholder="yyyy">
            </div>

            <div class="cvc-field-group">
                <label>CVC</label><br>
                <input type="password" class="cvc-field" placeholder="xxx">
            </div>

            <div class="name-field-group">
                <label>Card Holder Name</label><br>
                <input type="text" class="name-field" placeholder="Full Name">
            </div>

            <button type="button" class="pay-btn">Pay Now</button>

        </div>

    </div>
</body>

</html>