<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %>

<body>
    <!-- parcial para o cabecalho -->
    <%- include('partials/cabecalho.ejs') %>
        <div>
            <!-- corpo da tela definida -->
            <%- body %>
 
            <!-- parcial do rodape -->
            <%- include('partials/rodape.ejs') %>
        </div>

    <!-- switch para determinar o css e script utilizado -->
    <% switch (pageId) { case 'user':  %>
    <script src="./../javascript/usuario.js"></script>
    <% break;  case 'produto':  %>
    <script src="./../javascript/pagina-produto.js"></script>
    <% break;  case 'wishlist':  %>
    <script src="./../javascript/wishlist.js"></script>
    <% break;  case 'principal':  %>    
    <script src="./../javascript/querysql.js"></script>
    <% break;  case 'caixa': %>
    <script src="./../javascript/caixa.js"></script>
    <script src="./../javascript/site.js" asp-append-version="true"></script>
    <script src="./../javascript/index_idioma.js" asp-append-version="true"></script>
    <% break; case 'pedido': %>
    <script src="./../javascript/site.js" asp-append-version="true"></script>
    <script src="./../javascript/index_idioma.js" asp-append-version="true"></script>
    <% break; } %>
</body>

</html>