<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/cabecalho.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/pagina-produto.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/barrapesquisa.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/scrollbar.css" />

</head>

<body>
  <header class="main">
    <div class="containermenu">
      <div class="logo">
        <a href="/"><img class="logotipo" src="../images/Capturar-removebg-preview.png" alt="bookgear"></a>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Pesquisar">
        <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></a>
      </div>


      <div class="user">
        <a href="/Login">
          <button type="url" class="botao">Entrar</button></a>
        <a class="login" href="/Cadastro">
          <button type="url" class="botao">Cadastrar</button></a>
      </div>
    </div>
    <div class="cabecalho">
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="#">CAIXAS</a></li>
          <li><a href="/user">AUTORES</a></li>
          <li><a href="#">EDITORA</a></li>
          <li><a href="/wishlist">WISHLIST</a></li>
          <li><a href="/carrinho">CARRINHO</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <body>



    <div class="cart">
      <div class="row row1">
        <div class="col-md-4">
          <div class="imagem-principal">
            <img src="https://m.media-amazon.com/images/I/81KqSk09YCL.jpg" id="ProductImg">
          </div>
          <div class="small-imgs">
            <img src="https://m.media-amazon.com/images/I/81KqSk09YCL.jpg" width="500" height="150" class="small-img">
            <img src="https://m.media-amazon.com/images/I/91CqzuD1c7L.jpg" width="500" height="150" class="small-img">
            <img src="https://m.media-amazon.com/images/I/81KqSk09YCL.jpg" width="500" height="150" class="small-img">
            <img src="https://m.media-amazon.com/images/I/91CqzuD1c7L.jpg" width="500" height="150" class="small-img">
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="product-title">Star Wars: Luz dos Jedi (The High Republic)</h1>
          <!-- comentario foda -->
          <div class="tudo">
            <div class="descricao">
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <p>240 reviews</p>
              </div>
              <div>
                <div class="price">
                  <span>$38.00</span>
                  <span>$49.99</span>
                </div>
                <div class="row">
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-4-sze">
                    <h5>Size</h5>
                    <select class="size-custom-select">
                      <option>Select Size</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                    </select>
                  </div>
                  <div class="col-md-4 qty">
                    <h5>Quantity</h5>
                    <select class="quantity custom-select">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="buttons">
              <div class="row">
                <div class="col-md-6"><a href="#" class="custom-btn">Add To Cart<i class="fas fa-angle-right"></i></a>
                </div>
                <div class="col-md-6"><a href="#" class="custom-btn">Wishlist<i class="fas fa-angle-right"></i></a>
                </div>
                <div class="col-md-6"><a href="#" class="custom-btn">Add To box<i class="fas fa-angle-right"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div id="product" class="product-inf">
            <ul>
              <li class="active"><a href="#Description">Product Description</a></li>
              <li><a href="#Details">Product Details</a></li>
            </ul>
            <div class="tabs-content">
              <div id="Description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, inventore magnam! Natus, quibusdam
                  ea?
                  Modi nemo corrupti alias quae quis.</p>
              </div>
              <div id="Details">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sequi eaque quisquam corrupti
                  reprehenderit exercitationem iusto asperiores quae commodi quo?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/4077c6ef6a.js" crossorigin="anonymous"></script>

    <script src="../javascript/pagina-produto.js"></script>