  <!-- Site footer -->
  <head><link rel="stylesheet" type="text/css" href="rodape.css"></head>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Em nossa loja, a biblioteca está sempre aberta, 24 horas por dia, 7 dias por semana, para atender às suas necessidades literárias. Com um simples clique, você pode navegar por uma ampla variedade de gêneros, desde clássicos atemporais até os lançamentos mais recentes.</p>
        </div>

        <div class="col-xs-6-col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">ação</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">aventura</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Romance</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">terror</a></li>
            <li><a href="http://scanfcode.com/category/android/">comedia</a></li>
            <li><a href="http://scanfcode.com/category/templates/">infantil</a></li>
          </ul>
        </div>
        <br>

        <div class="col-xs-6-col-md-4">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      
      <hr style="width:100%;text-align:left;margin-left:0">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>