<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário - Bookgear</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/cabecalho.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/barrapesquisa.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/tela_usuario.css">
    <link rel="icon" type="image/x-icon" href="images/logo-removebg-preview.png">

</head>

<body>
    <header class="main">
        <div class="containermenu">
            <div class="logo">
                <a href="/"><img class="logotipo" src="../images/Capturar-removebg-preview.png" alt="bookgear"></a>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar">
                <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></a>
            </div>


            <div class="user">
                <a href="/Login">
                    <button type="url" class="botao">Entrar</button></a>
                <a class="login" href="/Cadastro">
                    <button type="url" class="botao">Cadastrar</button></a>
            </div>
        </div>
        <div class="cabecalho">
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">CAIXAS</a></li>
                    <li><a href="/user">AUTORES</a></li>
                    <li><a href="#">EDITORA</a></li>
                    <li><a href="/wishlist">WISHLIST</a></li>
                    <li><a href="/carrinho">CARRINHO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="principal">
            <div class="insidebox">
                <img src="../images/unnamed.png" class="user-img">
                <h1 class="Userb">User</h1>
                <ul class="categorias">
                    <li class="li-user"><button style="margin-top: 0%;" onclick="pagsw(1)" class="input_categoria">Dados pessoais</button></li>
                    <li class="li-user"><button onclick="pagsw(2)" class="input_categoria">Histórico de compras</button></li>
                    <li class="li-user"><button onclick="pagsw(3)" class="input_categoria">Status de entrega</button></li>
                </ul>
            </div>
            <div class="Dados-pessoais1">
                
                <div class="data">
                    <div class="pag1">
                        <h1 class="title" style="color: #ff7300; margin-left: 5px;">Dados pessoais</h1>
                        <form id="info" action="/user" method="post">
                            <input type="text" id="" placeholder="Nome de Usuário" id="userchange"><br>
                            <input type="text" placeholder="E-mail"><br>
                            <input type="password" placeholder="Senha"><br>
                            <input type="text" placeholder="CPF"><br>
                            <input type="text" placeholder="Endereço"><br>
                            <div class="mini-box">
                                <input type="submit" value="Alterar informações" id="botao">
                            </div>
                        </form>
                    </div>
                    <div class="pag2">

                    </div>
                    <div class="pag3">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../javascript/usuario.js"></script>
</body>

</html>