<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/cabecalho.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/barrapesquisa.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/tela-principal.css">
    <link rel="icon" type="image/x-icon" href="images/logo-removebg-preview.png">
    <title>Bookgear</title>
</head>

<body>
    <header class="main">
        <div class="containermenu">
            <div class="logo">
                <a href="/"><img class="logotipo" src="../images/Capturar-removebg-preview.png" alt="bookgear"></a>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar">
                <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></a>
            </div>


            <div class="user">
                <a href="/Login">
                    <button type="url" class="botao">Entrar</button></a>
                <a class="login" href="/Cadastro">
                    <button type="url" class="botao">Cadastrar</button></a>
            </div>
        </div>
        <div class="cabecalho">
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">CAIXAS</a></li>
                    <li><a href="/user">AUTORES</a></li>
                    <li><a href="#">EDITORA</a></li>
                    <li><a href="/wishlist">WISHLIST</a></li>
                    <li><a href="/carrinho">CARRINHO</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="meio">
        <div class="banners_meio">
            <img class="banner1 banner" src="../images/banner1.png" alt="banner">
            <img class="banner2 banner" src="../images/banner1.png" alt="banner">
        </div>
        <div class="container principal">

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <a class="product" href="/produto">
                <div class="product-image">
                    <img class="imagem-produto" src="../images/box.jpg" />
                </div>
                <div class="bottom">
                    <div class="product-content">
                        <div class="product-info">
                            <h2 class="product-title">Star wars oo imperio contra adipisicing elit. Nulla, rem deserunt
                                quae accusantium iure, voluptas delectus voluptatum ipsam alias harum sint quaerat autem
                                illum perferendis iusto magnam.</h2>
                            <p class="product-price">$ 10</p>
                        </div>

                    </div>
                    <button class="product-action"><i class="material-icons-outlined">like</i></button>
                </div>
            </a>

            <div class="categorias">
                <h1>Categorias</h1>
                <ul class="categorias">
                    <li><button type="url" href="#" class="input_categoria">Ação</button></li>
                    <li><button type="url" href="#" class="input_categoria">Aventura</button></li>
                    <li><button type="url" href="#" class="input_categoria">Clássicos</button></li>
                    <li><button type="url" href="#" class="input_categoria">Drama</button></li>
                    <li><button type="url" href="#" class="input_categoria">Fantasia</button></li>
                    <li><button type="url" href="#" class="input_categoria">Ficção cientifica</button></li>
                    <li><button type="url" href="#" class="input_categoria">Infantil</button></li>
                    <li><button type="url" href="#" class="input_categoria">Jogos</button></li>
                    <li><button type="url" href="#" class="input_categoria">Suspense</button></li>
                    <li><button type="url" href="#" class="input_categoria">Terror</button></li>

                </ul>
            </div>
        </div>
</body>

</html>