* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(42, 41, 43, 0.8);
  box-shadow: 0px 0px 10px rgb(42, 41, 43);
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}


.containermenu {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  width: 280px;
}

.logo img {
  margin-left: 15px;
  height: 80px;
}

.user a {
  font-weight: bold;
  margin-left: 20px;
  justify-content: flex-end;

}

.botao {
  font-weight: bold;
  border: none;
  border-radius: 18px;
  color: rgb(158, 158, 158);
  background: #363636;
  padding: 9px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.botao:hover {
  border: none;
  border-radius: 18px;
  color: #080808;
  background: #f85d03;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.cab {
  background-color: rgba(42, 41, 43, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
}

nav {
  background-color: rgb(43, 43, 46);
  height: 38px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 5.3%;
}

nav ul li a {
  display: inline-flex;
  color: grey;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: rgb(19, 19, 19);
  background-color: #f85d03;
}