@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');

.cart {
    font-family: 'Verdana', Courier, monospace;
    color: grey;
}

a {
    color: grey;
    text-decoration: none;
    font-style: none;
}

body {
    background-color: rgb(37, 37, 37);
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tabs-content {}

select option {
    background-color: rgb(39, 39, 39);
}

body {
    background-color: rgb(66, 66, 66);
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.imagem-principal {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-around;

}

.imagem-principal img {
    width: inherit;
}

.cart {
    font-family: 'Verdana', Courier, monospace;
    border: #1b1b1b solid 1px;
    border-radius: 5px;
    background-color: rgba(42, 41, 43, 0.3);
    color: grey;
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    margin-top: 100px;
    min-height: 620px;
    min-width: 1250px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
}

#ProductImg {
    width: 480px;
    height: 480px;
    margin-bottom: 25px;
    transition: 0.4s;
}

.black:hover {
    border: 1px solid #000;
    ;
}

.black {
    /* background-image: url(https://m.media-amazon.com/images/I/81KqSk09YCL.jpg); */
    width: 25px;
    display: flex;
    height: 25px;
    cursor: pointer;
    border: 1px solid transparent;
}


.red {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;

}

.white {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;
}



.yellow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.black:hover {
    border: 1px solid #000;
}

.white::before {
    content: "";
    background: #000;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.red:hover {
    border: 1px solid #ff0000;
}

.red::before {
    content: "";
    background: #ff0000;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.white:hover {
    border: 1px solid #fff;
}

.white::before {
    content: "";
    background: #fff;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.yellow:hover {
    border: 1px solid #ffff00;
}

.yellow::before {
    content: "";
    background: #ffff00;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.colors {
    display: flex;
    background: rgb(55, 55, 55);
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.price {
    margin-bottom: 15px;
}


.price span:first-child {
    font-size: 30px;
    font-weight: 300;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    display: inline;
}

.price span:last-child {
    color: rgb(255, 255, 255);
    text-decoration: line-through;
    font-size: 19px;
}

.reviews {
    display: flex;
    margin: 16px 0;
}

.reviews p {
    font-size: 15px;

    margin: 0;
    margin-left: 8px;
    line-height: 19px;
}

.reviews i {
    color: #ff5000;
}

.product-title {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;

}

.product-inf {
    margin-top: 20px;
}

.inf-botao {
    padding: 10px 50px;
}

.inf-botao:active {
    color: #000;
}

.product-inf ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.product-inf ul li:first-child {
    margin-right: 15px;
}

/* Botão de informações de produtos */
.product-inf ul li {
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;

}

.product-inf {
    color: grey;
}

p {
    color: grey;
}

.product-inf ul li:hover {
    border-radius: 20px;
    background: #2e2b2b;
}

.product-inf ul li {
    color: black;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.product-inf ul li a:hover {
    text-decoration: none;
    color: black;
}

.product-inf ul li.active {
    background: #ff5000;
    transition: 0.3s;
    color: black;
}

#Details {
    display: none;
}

.custom-btn {
    background: #ff5000;
    color: grey;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 16px;
    border-radius: 18px;
    padding: 6px;
    transition: 0.3s;
    font-weight: 600;
    background: #363636;
    text-decoration: none;

}

.custom-btn:hover {
    text-decoration: none;
    background: #ff5000;
    color: black;
    opacity: 0.88;
}

.tudo {
    background-color: rgba(14, 14, 14, 0.5);
    border: #1b1b1b solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 14px rgb(14, 14, 14) inset;
    padding: 20px;
    display: flex;
    height: 250px;
    justify-content: space-between;
}

.buttons {

    color: #000;
    padding: 10px;
    height: 200px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .row .col-mid-6 {
    /* position: relative; */
    height: 60px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-mde-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.col-mid-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
    width: 700px;
    height: 500px;
}

.descricao {
    display: block;
    width: 300px;

}


.small-imgs {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    width: 500px;

}

.small-img {
    margin: 0 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;

}

.custom-btn i {
    margin-left: 15px;
}

.size {
    cursor: pointer;
    background: rgba(66, 66, 66, 0);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    color: grey;
}

.quantity {
    cursor: pointer;
    background: rgba(66, 66, 66, 0);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    color: grey;
}

h5 {
    font-size: 15px;
}

.size-custom-select {
    cursor: pointer;
    text-decoration: none;
    color: grey;
    background: rgba(66, 66, 66, 0);

}

@media only screen and (max-width: 768px) {
    .product-title {
        margin-top: 65px;
    }

    .sze {
        margin-top: 28px;
        color: grey;
    }

    .qty {
        margin-top: 28px;
    }

    .cart {
        padding: 25px;
    }

    * {
        text-align: center;
    }

    .reviews {
        display: flex;
        margin: 16px 0;
        text-align: center !important;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 390px) {
    .cart {
        padding: 15px;
    }
}